reload_values = 60;
zone_id = 65534;
debug = 7;
kwl : 
{
  id = "EC300";
  name = "Helios KWL";
  scenes : 
  {
    s0 :
    {
      dsId = 5;
      modbus :
      {
        m0 :
        {
          register = 4609;
          value = 0;
        }
      }
    }
    s1 :
    {
      dsId = 17;
      modbus :
      {
        m0 :
        {
          register = 4609;
          value = 1;
        }
      }
    }
    s2 :
    {
      dsId = 18;
      modbus :
      {
        m0 :
        {
          register = 4612;
          value = 10;
        }
      }
    }
    s3 :
    {
      dsId = 19;
      modbus :
      {
        m0 :
        {
          register = 4612;
          value = 0;
        }
      }
    }
  }
}
sensor_values : 
{
  s0 : 
  {
    value_name = "internalTemperature";
    sensor_type = 1;
    sensor_usage = 1;
  };
  s1 : 
  {
    value_name = "internalHumidity";
    sensor_type = 2;
    sensor_usage = 1;
  };
};
